#home-tiles .col-xs-12{
	background-color: grey;
	margin-bottom: 45px;
	margin-right: auto;
	margin-left: auto;
}
h1{
	margin: 0px;
}
.container{
	padding: 8px;
}
h2{
	margin-bottom: 50px;
	background-color: pink;
	border: 2px solid black;
}
body{
	background-color: green;
}
#header-nav{
	background-color: yellow;

}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #61122f;
}
li a{
	background-color: #61122f;
	font-weight: bold;
}
li:hover{
	background-color: pink;
}
#beef{
	background-color: orange;
}
#sushi{
	background-color: orange;
}
#chicken{
	background-color: orange;
}
#home-tiles{
	margin: 0px;
}